<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quiz.quiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScoresActivity"
            android:label="title_activity_scores"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.ScoresActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndActivity"
            android:label="title_activity_end"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.EndActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task20Activity"
            android:label="title_activity_task20"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task20Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task19Activity"
            android:label="title_activity_task19"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task19Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task18Activity"
            android:label="title_activity_task18"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task18Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task17Activity"
            android:label="title_activity_task17"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task17Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task16Activity"
            android:label="title_activity_task16"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task16Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task15Activity"
            android:label="title_activity_task15"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task15Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task14Activity"
            android:label="title_activity_task14"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task14Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task13Activity"
            android:label="title_activity_task13"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task13Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task12Activity"
            android:label="title_activity_task12"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task12Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task11Activity"
            android:label="title_activity_task11"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task11Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task10Activity"
            android:label="title_activity_task10"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task10Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task9Activity"
            android:label="title_activity_task9"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task9Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task8Activity"
            android:label="title_activity_task8"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task8Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task7Activity"
            android:label="title_activity_task7"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task7Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task6Activity"
            android:label="title_activity_task6"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task6Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task5Activity"
            android:label="title_activity_task5"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task5Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task4Activity"
            android:label="title_activity_task4"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task4Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task3Activity"
            android:label="title_activity_task3"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task3Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task2Activity"
            android:label="title_activity_task2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task1Activity"
            android:label="title_activity_task1"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.Task1Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.FeedbackActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.InfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.quiz.quiz.WebActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>